<!DOCTYPE html>
<html>
<head>
    <title>Sample Post</title>

    <!-- Bootstrap CSS -->
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Theme CSS -->
    <link href="../css/style.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="../host/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="index.ejs">Gl<i class="em em-globe_with_meridians"></i></i>beTrotter</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="index.ejs">My Journal</a>
                    </li>
                    <li>
                        <a href="newEntry.ejs">New Entry</a>
                    </li>
                    <li>
                        <a href="about.ejs">My Profile</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="intro-header" style="background-image: url('../img/post-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>Diablo Lake, WA</h1>
                        <h2 class="subheading">A Jewel In the North Cascades</h2>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <p>Narwhal retro before they sold out, lo-fi authentic gentrify distillery kinfolk poutine meh leggings schlitz. Cold-pressed squid skateboard, lomo next level YOLO brooklyn pinterest. Biodiesel poutine YOLO wolf, health goth aesthetic post-ironic roof party brunch listicle pickled. Beard chia mlkshk, tattooed umami literally street art shabby chic direct trade narwhal authentic. Humblebrag +1 wayfarers slow-carb deep v, tousled williamsburg aesthetic green juice chartreuse polaroid ramps jean shorts normcore. Flannel polaroid green juice plaid roof party, shoreditch mumblecore. Kombucha butcher letterpress drinking vinegar kale chips master cleanse.</p>

                    <p>Cray dreamcatcher chillwave, affogato gochujang meditation single-origin coffee typewriter. Butcher tattooed irony gentrify chia fap. You probably haven't heard of them squid cred, put a bird on it bespoke tousled literally. Cardigan 3 wolf moon bitters YOLO, kogi wolf blue bottle. Try-hard raw denim lumbersexual meggings, man braid knausgaard church-key quinoa deep v kale chips cornhole paleo butcher. Viral green juice gastropub forage 90's schlitz. Humblebrag portland roof party brooklyn, blog celiac four dollar toast cold-pressed polaroid tote bag salvia normcore chia cred man bun.</p>

                    <p>Yr small batch taxidermy pop-up etsy DIY occupy, yuccie keytar poutine. Irony tattooed wayfarers pitchfork migas. Quinoa farm-to-table messenger bag mlkshk vice, master cleanse cronut tilde bicycle rights cornhole everyday carry VHS. Hashtag lo-fi sartorial, man braid swag skateboard mlkshk +1. Gentrify kinfolk tote bag, flexitarian drinking vinegar pop-up fashion axe direct trade vegan man bun. Offal salvia tote bag green juice slow-carb whatever. Etsy messenger bag godard truffaut, thundercats pork belly wayfarers readymade fingerstache marfa listicle narwhal sriracha green juice.</p>

                    <p>Roof party street art ramps, before they sold out gentrify artisan you probably haven't heard of them fap venmo cold-pressed cronut chicharrones blue bottle. Williamsburg kombucha helvetica XOXO ugh vegan kale chips, wolf swag mlkshk cray. Fingerstache artisan listicle VHS drinking vinegar paleo salvia kogi roof party, cronut affogato pug scenester yr. Gastropub tumblr franzen keffiyeh cred, four dollar toast fingerstache. Migas four dollar toast sartorial try-hard, man bun kitsch farm-to-table affogato echo park. Marfa typewriter fashion axe hammock thundercats. Knausgaard organic williamsburg dreamcatcher 90's.</p>
                </div>
            </div>
        </div>
    </article>

    <hr>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="https://twitter.com/globetrotoff">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/globetrotterofficial">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/globetrotterofficial/?hl=en">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="../host/jquery/jquery.js"></script>

    <!-- Theme JavaScript -->
    <script src="../js/script.js"></script>

</body>

</html>
